.message {
  font-weight: bold;
  font-size: 20px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  animation: spin 1s infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
